body{
	font-family: 'Roboto Slab', 'Roboto Condensed', serif;
}

.btn-primary a{
	color: #fff;
}

#logo{
	padding: 15px;
}

.product-image{
	max-width: 250px;
	max-height: 250px;
	float: left;
	padding: 10px;
}

.price{
	margin-bottom: 0px;
	margin-top: 10px;
}

dl{
	border-style: none;
	font-family: 'Roboto Slab', 'Roboto Condensed', serif;
	font-size: 12px;
}

.yoda-alt{
	background.image: url(assets/yoda.png);
}

#product-name{
	font-weight: bold;
}

.profile-pic{
	max-width: 300px;
	float: left;
	padding: 10px;
}

.show-description{
	max-width: 700px;
	font-size: 15px;
}

.show-name{
	margin: 5px;
	font-size: 22px;
}

.show-price{
	font-size: 18px;
}

#stripe-form{
	padding: 10px;
}

#review_comment, #new_review > div.actions, label{
	margin: 10px;
}

#reviews-list > h4{
	margin: 10px;
}

body > div:nth-child(8) > a > h5{
	margin: 10px;
}

body > div:nth-child(9){
	margin: 10px;
}

.signup{
	margin: 15px;
}