body{
	font-family: 'Roboto Slab', 'Roboto Condensed', serif;
}

.btn-primary a{
	color: #fff;
}

#logo{
	padding: 15px;
}

.product-image{
	max-width: 250px;
	max-height: 250px;
	float: left;
	padding: 10px;
}

.price{
	margin-bottom: 0px;
	margin-top: 10px;
}

dl{
	border-style: none;
	font-family: 'Roboto Slab', 'Roboto Condensed', serif;
	font-size: 12px;
}



